.InfoMenu {
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid lightgrey;
  background-color: white;
  height: 100vh;
  width: 30vw;
  box-sizing: border-box;
  padding: 4rem;
  box-shadow: -10px 10px 15px #353535;
  z-index: 2;
  animation: flyin 0.3s;
}

.x {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: white;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 0rem 0.9rem;
  border-radius: 4rem;
  background-color: lightgrey;
}

.InfoMenu img {
  width: 100%;
  margin: 3rem 0;
}

@keyframes flyin {
  0% {transform: translateX(30vw);}
  100%{transform: translateX(0);}
}