.Hidden {
  opacity: 0;
}

.Filtered {
  opacity: 0.1;
}

.Selected {
  text-decoration: underline;
  color: rgb(255,255,255) !important;
}

.Card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0.5rem;
  transition: transform 0.4s, opacity 0.5s;
  border-radius: 1rem;
  height: calc(100vh / 8);
  width: 12.5rem;
  text-align: center;
}

.Card:hover {
  transform: scale(1.5, 1.5);
  z-index: 1;
  border: 0.2rem solid white;
}

.Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.Label {
  margin: 0rem 0.2rem;
  font-size: 0.8rem;
  color:white;
  font-weight: bold;
}

.Content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.Symbol {
  margin-bottom: 1rem;
  font-size: 4rem;
}

.Sport {
  font-size: 1.3rem;
  font-weight: bold;
  min-height: 3rem;
}

.Participants {
  font-size: 1rem;
}

.Gender {
  position: absolute;
  bottom: 0;
  left: 1rem;
  font-size: 0.8rem;
}